#about {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}


#about > .glass-card {
    height: fit-content;
    width: 100%;
    padding: 3rem;
}

/* media query to reduce padding for small screen sizes */
@media (max-width: 1200px) {
    #about > .glass-card {
        padding: 1.5rem;
    }
}


.about-title {
    margin-bottom: 1rem;
}