#about {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

@media screen and (min-width: 1400px) {
    #about {
        width: 50%;
    }
}

#about > .glass-card {
    height: fit-content;
    width: 100%;
    padding: 3rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
}


.about-title {
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .about-title {
        text-align: center;
    }
    #about > .glass-card {
        padding: 1.5rem;
    }
}

