footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    border-radius: 0 !important;
}

.footer-links {
    font-size: 1.5rem;
    padding: var(--footer-spacing);
}

.copyright {
    color: white;
    padding: var(--footer-spacing);
}

.footer-links i {
    margin: 0 1rem;
    padding: 0.2rem;
}

.footer-links a:hover i {
    transform: scale(1.3);
}

.footer-links a:hover {
    opacity: 0.5;
}

.fa-discord {
    color: #5865f2;
}

.fa-github {
    color: #4e277b;
}

.fa-envelope {
    color: #e4a010;
}

.fa-file {
    color: darkblue;
    opacity: 0.8;
}